/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
nav {
  max-width: 800px;
  width: 100%;
  margin: 3em auto;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
}
@media (max-width: 500px) {
  nav {
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    justify-items: center;
    grid-row-gap: 1em;
  }
}
nav a {
  margin-right: 2em;
  text-decoration: none;
  color: inherit;
  font-size: 1.75em;
}
.accent-line {
  height: 2px;
  border-bottom: 2px dashed #C0C0C0;
  max-width: 950px;
  margin: 0 auto;
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.landing {
  max-width: 800px;
  width: 100%;
  margin: 3em auto;
  border-bottom: 2px dashed #C0C0C0;
}
.landing h2 {
  margin-top: 1em;
}
.landing p {
  margin-bottom: 1em;
}
@media (max-width: 500px) {
  .landing {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
    margin-bottom: 2em;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .content-section .img-content img {
    width: 100vw;
  }
}
@media (max-width: 500px) {
  .home .content-section {
    flex-direction: column;
    align-content: center;
    width: 90%;
    margin: 2em auto;
    padding: 0;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width: 500px) {
  .home .inverse-content {
    display: grid;
    grid-template-rows: max-content max-content;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .text-content {
    grid-row: 1;
    margin-top: 2em;
    padding: 0;
  }
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
}
@media (max-width: 500px) {
  .home .inverse-content .img-content {
    padding: 0;
  }
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
.home .content-pick .destination .btn {
  text-align: center;
  background: #01807F;
  padding: 15px 55px;
  font-size: 1.75em;
  width: max-content;
  color: #fff;
  border-radius: 10px;
  border: none;
}
@media (max-width: 500px) {
  .home .content-pick .destination .btn {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    align-self: center;
    width: 90%;
  }
}
@media (max-width: 500px) {
  .home .content-pick {
    flex-direction: column;
  }
}
.contact-form {
  display: none;
}
.contact-form h1 {
  justify-self: center;
}
@media (max-width: 500px) {
  .contact-form {
    display: grid;
    grid-template-rows: repeat(6, max-content);
    padding: 0;
    grid-row-gap: 10px;
    max-width: 90%;
    margin: 0 auto;
  }
  .contact-form div {
    font-size: 1.5em;
  }
  .contact-form div .radio {
    margin-bottom: 1em;
  }
  .contact-form .form-input,
  .contact-form .message {
    border: none;
    background: #f4f5f7;
    resize: none;
    padding: 10px;
    border: 1px solid #f0eeee;
    border-radius: 5px;
    font-size: 1.5em;
  }
  .contact-form .message {
    height: 100px;
  }
  .contact-form .submitBtn {
    width: 100%;
    margin: 10px auto;
    padding: 8px 24px;
    background: #01807F;
    color: white;
    border: none;
    font-size: 2.5em;
    border-radius: 10px;
  }
}
